#article-container {
    float: left;
}

.article-header-side {
    float: left;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    max-width: 12em;
}

.article-side {
    float: left;
    margin-top: 2em;
    margin-left: 2em;
    max-width: 20em;
}