.form {
    margin: 1em 2em;
    float: left;
}

.input {
    width: 180px;
}

.submit {
    text-align: right;
}

div.form-controls {
    display: none;
    margin: 0 2em;
    text-align: center;
}

.add-message-control a {
    color: black;
}

div.form-line {
    display: inline;
}

div.form-textarea {
    height: 3.2em;
    border: 3px solid #cccccc;
    width: 25em;
}


