#list {
    width: 35em;
    float: left;
}

#grid {
    width: 35em;
    float: left;
    margin-left: 0.7em;
}

#wall {
    clear: both;
    border-top: 1px solid gray;
    padding: 1em 1em 2em 1em;
    padding-bottom: 5em;
}

.additem {
    margin: 0 2em;
    text-align: right;
}

.empty-list-item {
    text-align: center;
}

.additem a {
    font-size: small;
    color: black;
    margin: 1em;
}

.list-item {
    clear: both;
    margin: 0.5em 2em;
    padding: 0 0 2em 0;
    border-bottom: 1px solid #d3d3d3;
}

.list-item-for-text {
    min-height: 5.9em;
}

.list-item-for-image {
    min-height: 9.9em;
}

.list-item-for-video {
    min-height: 2em;
}

.list-item-header {
    text-align: right;
    background: #d3d3d3;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #ffffff), color-stop(0%, #e5e5e5));
}

.list-item-header a {
    font-size: small;
    color: black;
    margin: 1em;
}

.list-item-content {
}

.list-item-content a {
    color: black;
}

.list-item-text {
    float: left;
    margin: 0.5em 2em;
}
