#common-info {
    text-align: left;
    padding: 1em 0 0 23.2em;
}

.common-info-line {
}

.horizontal-block-center, .horizontal-block-normal {
    text-align: center;
    margin: 0;
}

.horizontal-block-normal {
    text-align: left;
}

.horizontal-block-center div, .horizontal-block-normal div {
    display: inline;
}
