#video-link {
    border: 0;
}

div.video {
    max-width: 31em;
    max-height: 21em;
}

div.video-container {
    margin-left: 2em;
    margin-top: 1em;
    float: left;
    text-align: left;
}

div.video-container-large {
    height: 21em;
    width: 32em;
}

div.video-title {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.video-title-large {
    width: 33em;
}