<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE struts PUBLIC "-//Apache Software Foundation//DTD Struts Configuration 2.0//EN"
        "http://struts.apache.org/dtds/struts-2.0.dtd">

<struts>
    <package name="menu" extends="private">

        <action name="friendList" class="net.friendface.friendface.controllers.actions.friends.FriendList">
            <param name="userId">${userId}</param>
            <result name="success" type="tiles">friends.tiles</result>
            <result name="login" type="tiles">entrance.tiles</result>
            <result name="error" type="tiles">errorpage.tiles</result>
        </action>

        <action name="showSenders" class="net.friendface.friendface.controllers.actions.messages.ShowConversations">
            <param name="userId">${userId}</param>
            <result name="success" type="tiles">conversations.tiles</result>
            <result name="login" type="tiles">entrance.tiles</result>
            <result name="error" type="tiles">errorpage.tiles</result>
        </action>

        <action name="albumList" class="net.friendface.friendface.controllers.actions.pictures.ShowAlbums">
            <param name="userId">${userId}</param>
            <result name="success" type="tiles">albumList.tiles</result>
            <result name="login" type="tiles">entrance.tiles</result>
            <result name="error" type="tiles">errorpage.tiles</result>
        </action>

        <action name="videosList" class="net.friendface.friendface.controllers.actions.videos.ShowVideos">
            <param name="userId">${userId}</param>
            <result name="success" type="tiles">videoslist.tiles</result>
            <result name="login" type="tiles">entrance.tiles</result>
            <result name="error" type="tiles">errorpage.tiles</result>
        </action>

    </package>
</struts>