html, body, #container {
    height: 100%;

    color: black;
    background: white;
    font: normal medium 'Gill Sans', 'Gill Sans MT', 'Goudy Bookletter 1911', 'Linux Libertine O', 'Liberation Serif', Candara, serif;

    padding: 0;
    margin: 0 auto;
    width: 45em;
    line-height: 1.75;
    word-spacing: 0.1em;
}

body > #container {
    height: auto;
    min-height: 100%;
}

#content {
    padding-bottom: 2em;
}

.margined-layer {
    margin: 1em 2em;
}

#clean {
    clear: both;
}

#vertical-line {
    border-right: 1px solid gray;
    float: left;
    height: 351px;
}

#header {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #7d7e7d), color-stop(20%, #0e0e0e));
    color: white;
    margin: 0;
    padding: 1.5em 0;
}

#headertxt {
    text-align: center;
    font-size: medium;
    line-height: 0.0em;
    margin: 0;
}

#header a {
    color: white;
}

#headrefs {
    font-size: small;
    float: right;
    margin: 0;
    padding: 0 1em 0 0;
}

#tagline {
}

#footer {
    clear: both;
    position: relative;
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #7d7e7d), color-stop(100%, #0e0e0e));
    z-index: 10;
    height: 0.3em;
    padding: 0.9em 0;
    margin-top: -2.05em;
    color: white;
}

#footertxt {
    text-align: right;
    font-size: small;
    line-height: 0;
    margin: 0;
    padding: 0 1em 0 0;
}

#footrefs {
    font-size: small;
    float: left;
    margin: -0.8em 0 0 0;
    padding: 0 0 0 1em
}

#footer a {
    color: white;
}

a {
    background: transparent;
    text-decoration: none;
    border-bottom: 1px dotted
}

a:hover {
    border-bottom: 1px solid
}

a:link {
    color: #1b67c9
}

a:visited {
    color: #9932cc;
}

h1 a, h2 a, h3 a {
    color: inherit !important
}

.imagelittle {
    float: left;
    width: 56px;
    height: 66px;
    margin: 0.5em;
    border: 0;
}
