#menu {
  float: left;
  width: 9em;
  margin: 0.1em;
}

.menuitem {
}

.menuitem:hover {
  color: white;
  background: gray;
}

.menuitem a {
  color: black;
}

.menuitem a:hover {
  color: white;
}

/* menu reference - separate div*/
.ref {
  margin: 0 0 0 1em;
}