#menu {
    float: left;
    width: 9em;
    margin: 0.1em;
}

.menuitem {
}

.menuitem:hover {
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #7d7e7d), color-stop(0%, #0e0e0e));
}

.menuitem a {
    color: black;
}

.menuitem a:hover {
    color: white;
}

.ref {
    display: block;
    text-align: center;
}