#tabcontrol {
    float: left;
    width: 35em;
}

#tabs ul {
    list-style: none;
    margin: 0.5em 0 0 1em;
    padding: 0;
}

#tabs li {
    position: relative;
    top: 1px;
    float: left;
    border: 1px solid;
    margin: 0 0.5em 0 0;
}

#tabs a {
    border-bottom: none;
    color: black;
    padding: 0 1em;
}

.panes {
    margin: 0 0 0 0.5em;
    border-top: 1px solid;
    clear: both;
}

.pane {
    display: none;
}
