#userlist {
    width: 35em;
    float: left;
}

.userlistitem {
    clear: both;
    margin: 0.5em 2em;
    padding: 0 0 2em 0;
    border-bottom: 1px solid #d3d3d3;
    min-height: 4.9em;
}

.itemheader {
    text-align: right;
    background: #d3d3d3;
}

.itemheader a {
    font-size: small;
    color: black;
    margin: 1em;
}

.itemcontent {
}

.itemtextinfo {
    float: left;
}

.itemtextinfo a {
    color: black;
}