#wall {
    clear: both;
    border-top: 1px solid gray;
    padding: 1em 1em 2em 1em;
}

.wall-message {
    margin: 0.5em 2em;
    border-bottom: 1px solid #d3d3d3;
    min-height: 7.5em;
}

.wall-message-text {
}

.wall-message-head {
    text-align: right;
    background: #d3d3d3;
    padding: 0 1em 0 0;
    margin: -0.8em 0 0 0;
}

.wall-message-head a {
    font-size: small;
    color: black;
}