<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
         http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">

    <display-name>friendface</display-name>

    <context-param>
        <param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
        <param-value>/WEB-INF/tiles.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
    </listener>

    <listener>
        <listener-class>net.friendface.friendface.application.Initializer</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>welcome.action</welcome-file>
    </welcome-file-list>

    <mime-mapping>
        <extension>flv</extension>
        <mime-type>video/x-flv</mime-type>
    </mime-mapping>

    <servlet>
        <servlet-name>showVideo</servlet-name>
        <servlet-class>net.friendface.friendface.controllers.actions.videos.ShowVideo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>showVideo</servlet-name>
        <url-pattern>/showVideo</url-pattern>
    </servlet-mapping>

    <!-- struts 2 -->
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>*.action</url-pattern>
    </filter-mapping>

    <!--filters -->
    <filter>
        <filter-name>LoggingFilter</filter-name>
        <filter-class>net.friendface.friendface.controllers.filters.LoggingFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>LoggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>

    <!-- repository (jndi) -->
    <resource-env-ref>
        <description>Content Repository</description>
        <resource-env-ref-name>jcr/repository</resource-env-ref-name>
        <resource-env-ref-type>javax.jcr.Repository</resource-env-ref-type>
    </resource-env-ref>
</web-app>
