.frontpic {
    float: left;
}

.frontpic-small img {
    max-width: 4em;
    max-height: 5em;
    margin: 0.5em;
}

.frontpic-large img {
    max-width: 11em;
    max-height: 14.3em;
    margin: 1em 0.5em 0.5em 2em;
}

div.image-container {
    margin: 0.625em 0 0.625em 0.94em;
    border: 1px solid black;
    float: left;
    text-align: left;
}

div.image-container-small {
    height: 8.9em;
    width: 10em;
}

div.image-container-large {
    height: auto;
    width: 34em;
}

div.image {
}

div.image img {
    margin: 6px 3px 3px;
    border: 1px solid white;
}

div.image-small img {
    max-height: 6.25em;
    max-width: 9.4em;
}

div.image-large img {
    max-height: 21em;
    max-width: 31.7em;
}

div.image a:hover img {
    border: 1px solid gray;
}

div.image-title {
    margin-left: 2.1em;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.image-title-large {
    width: 30em;
}

div.image-title-small {
    width: 7.5em;
    font-size: small;
}