#list {
    width: 35em;
    float: left;
}

.additem {
    margin: 0 2em;
    text-align: right;
}

.empty-item {
    text-align: center;
}

.additem a {
    font-size: small;
    color: black;
    margin: 1em;
}

.listitem {
    clear: both;
    margin: 0.5em 2em;
    padding: 0 0 2em 0;
    border-bottom: 1px solid #d3d3d3;
    min-height: 4.9em;
}

.itemheader {
    text-align: right;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(100%, #ffffff), color-stop(0%, #e5e5e5));
}

.itemheader a {
    font-size: small;
    color: black;
    margin: 1em;
}

.itemcontent {
}

.itemcontent a {
    color: black;
}

.itemtextinfo {
    float: left;
    margin: 0.5em 2em;
}
